.center-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem;

  .project-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 1rem;

    .flex-it {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20vw;
    }
    .built-with {
      display: flex;
      height: 100px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      list-style: none;

      li {
      }
    }
  }
  .project-image {
    width: 60vw;
    // height: 500px;
    max-width: 90vw;
    max-height: 500px;
  }
  .display-row {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    align-items: center;
    width: 100vw;
    // gap: 2rem;

    .responsive-gallery {
      width: 20vw;
      //   height: 500px;
      max-width: 30vw;
      max-height: 500px;
    }
  }
}
